:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #1a3b20;
    --text-color-brighter: #80bc27;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

.row-3 {
    width: calc(100% / 3);
    height: 100%;
}

.pd-48 {
    padding: 48px 48px;
}